body{
	font-family: Helvetica, Arial, sans-serif;
	background-color: darkseagreen;
}

header{
	margin: 0 auto;
	text-align: center;
	padding-bottom: 200px;
}

h1, h2{
	font-family: 'Lexend Giga', sans-serif;
	color: white;
}

header h1{
	color: white;
	padding-top: 80px;
	font-size: 25px;

}

header img{
	max-width: 100%;
}

main{
	max-width: 800px;
	color: #FBFFEF;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}

h2{
	size: 35px;
}